 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> 왼쪽부터 시작하는 설명하는 글 입니다. </p>
                </div>
                <div class="col-lg-4">
                    <p> 오른쪽부터 시작하는 설명하는 글 입니다. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/zxc3613/zxc3613.github.io" class="btn btn-lg btn-outline">
                        <i class="fa fa-bookmark"></i> - github 저장소 -
                    </a>
                </div>
            </div>
        </div>
    </section>
